<html>
   <head>
       <title>first page</title>
   </head>
   <body bgcolor="#ffffff">
       <h1>
           <font color="FFFFFF"> white heading </font>
       </h1>
       <!-- <p>This is a paragraph</p>
       <p>This is a <br />line break</p>
       <p align="center">This is a text <br />
       <hr width="10%" align="right" />This is also a text.
    </p> -->
    <p align="center">
        This is a text
        <hr width="50%" align="left" />
    </p>

    <a href="aboutphoto.html">
    <img src="C:\Users\DELL\Pictures\zan.jpg" height="50px" width="50px" border="1px" alt="" align="middle" />first page
    </a>\
    <a href="http://www.sololearn.com" target="_blank"> Learn playing </a>

    
    
    <ol>
        <li>Red</li>
        <li>Blue</li>
        <li>Green</li>
    </ol>
    <ul>
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ul>
    <h1><span>My skills</span></h1>
    <ul>
        <li><a href="html://www.sololearn.com">HTML</a></li>
        <li><a href="CSS.html">CSS</a></li>
        <li> <a href="Javascript.html">Javascript</a></li>
    </ul>
    <table border="2">>
        <tr>
       <th>make</th>
       <th>model</th>
       <th>form</th>
       <th>shape</th>
        </tr>
        </table>
        <table border="2" align="center">
        <tr>
            <td bgcolor="Red">Red</td>
            <td bgcolor="Blue">Blue</td>
            <td bgcolor="Green">Green</td>
        </tr>
        <tr>
            <td>Yellow<br /></td>
            <td rowspan="2">Orange<br /></td>
        </tr>
     </table>
     <h1><span>My coding schedule</span></h1>
     <table border="5">
         <tr>
            <th>Day</th>
            <th>Mon</th>
            <th>Tues</th>
            <th>Wed</th>
            <th>Thurs</th>
            <th>Fri</th>
         </tr>
         <tr>
            <td>8-8:30</td>
            <td class="selected">Learn</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
         </tr>
         <tr>
             <td>1-1:30</td>
             <td></td>
             <td></td>
             <td class="selected">Play</td>
             <td></td>
             <td></td>
         </tr>
         <tr>
             <td>6-6-6:15</td>
             <td>code</td>
             <td>code</td>
             <td>code</td>
             <td>code</td>
             <td class="selected">Discuss</td>
         </tr>
         <h1>Headline</h1>
         <div style="background-color:green; color:white; padding:5px;">
             <p>some paragragh text goes here</p>
             <p>Another paragraph goes here.</p>
         </div>
         <h2>some<span style="color:red;">important</span>message</h2>
     </table>
     <form>
         <input type="text" name="uswername" /><br />
         <input type="password" name="password" />
         <input type="submit" value="submit" />
     </form>
     <form>
         <input type="radio" name="gender" value="male" /> Male <br />
         <input type="radio" name="gender" value="female" /> Female <br />
         <input type="submit" value="submit" />
     </form>
     <h1><span>contact me</span></h1>
     <form>
          <input name="name" type="text" /><br />
         <textarea rows="10" cols="40" name="message"></textarea>
         <input type="submit" value="SEND" class="submit" />
     </form>
     <div class="section">
         <h1><span>My media</span></h1>
         <iframe height="150" width="3oo" src="https://www.youtube.com/embed/Q6_5InVJZ88" allowfullscreen frameborder="0"></iframe>
     </div>
   </body>
</html>